{% extends 'base.html.twig' %}

{% block title %}Resultats index{% endblock %}

{% block body %}
    <h1>Resultats index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ip</th>
                <th>Réponses</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
        {% for resultat in resultats %}
            <tr>
                <td>{{ resultat.id }}</td>
                <td>{{ resultat.ip }}</td>
                <td>{{ reponse.id }}</td>
                <td>{{ user.id }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
